---
title: vaillant.ai
description: "If you're looking for A. Vaillant's website, this is it."
---
{% extends "base.njk" %}

{% block body %}
<main>
  <header class="ident">
    <h1 class="name" id="name" data-name>ALEISTER<br>VAILLANT</h1>
    <div class="label">ML Engineer — New York</div>
  </header>
</main>
{% endblock %}
